<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">

  </head>
  <body>
  	<div class = "col-md-12">

  	<%= image_tag('planner.png', class: "image-size")%>

    <h1>About Manoa Meals</h1>

    <p2 class="shadow">Manoa Meals is a web application inteded to be used by Manoa students who regularly eats on campus. Manoa Meals provides customizable meal planner that let you plan your meals ahead of time based on set nutrition goals/ calorie limit. It offers integration with on-campus café menu.</p2>



	<%= image_tag('random.png', class: "image-size")%>

    <h1>About Team Random</h1>

    <p2 class="shadow">Team Random is a software development team consisting of undergraduate students from University of Hawaii at Manoa. Its members include  
	<a href="https://github.com/solliegarcia">Sollie Garcia</a>,
    <a href="https://github.com/Liloa">Umi Ching-Nakama</a>,
    <a href="https://github.com/garyjw">Gary Wong</a>, and 
    <a href="https://github.com/kjp236">Kevin Park</a>.
    </p2>

	</div>
  </body>
</html>
