<h1>MealPlans#new</h1>
<p>Find me in app/views/meal_plans/new.html.erb</p>
<%= @user.inspect %>
<%= @meal_plan.inspect %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@meal_plan) do |f| %>

    <% end %>
  </div>
</div>  
