<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%#= form_for(@user) do |f| %>
      <%#= f.label :name %>
      <%#= f.text_field :name, class: 'form-control' %>

      <%#= f.label :calories %>
      <%#= f.integer_field :calories, class: 'form-control' %>
      
      <%#= f.label :total_fat %>
      <%#= f.integer_field :total_fat, class: 'form-control' %>

      <%#= f.label :cholesterol %>
      <%#= f.integer_field :cholesterol, class: 'form-control' %>

      <%#= f.label :sodium %>
      <%#= f.integer_field :sodium, class: 'form-control' %>

      <%#= f.label :carbs %>
      <%#= f.integer_field :carbs, class: 'form-control' %>

      <%#= f.label :suger %>
      <%#= f.integer_field :suger, class: 'form-control' %>

      <%#= f.label :protein %>
      <%#= f.integer_field :protein, class: 'form-control' %>

      <%#= f.label :location %>
      <%#= f.text_field :location, class: 'form-control' %>

      <%#= f.label :custom %>
      <%#= f.integer_field :custom, class: 'form-control' %>

      <%#= f.submit "Create my account", class: "btn btn-primary" %>

    <%# end %>
  </div>
</div>  
