

<div class = "col-md-12">
	<h2>Manoa Meal Planner</h2>

	<h3>Plan out your daily meals using the Manoa Meal Planner!</h3>  

	<%= image_tag('cook.jpeg', class: "center2")%>


	<p>Generate your personal meals based on set nutrition goals and calorie limit. </p>

	<%= link_to image_tag('button.png', class: "center3"), new_user_path %> 

	<%#= button_to "Sign Up", new_user_path %> 
	<%= button_to "Sign Up", new_user_path, class: "button" %>
	<p>Manoa Meal Planner supports integration with on-campus café menu.</p>

	<%#= image_tag('manoa.png', class: "center")%>

</div>