.col-md-12{
	//background:rgba(255,255,255,0.5);
}

.sign-up{
	//add button hover for sign up button
	//color:;
	//font-weight: ;
	&:hover{
		color: darken(red, 30%);
	}
}

.button{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    &:hover{
		color: darken(black, 30%);
	}
}