<footer class="footer">
  <small>
    Manoa Meals 
    by <a href="https://github.com/solliegarcia">Sollie</a>,
    <a href="https://github.com/Liloa">Umi</a>,
    <a href="https://github.com/garyjw">Gary</a>,
    <a href="https://github.com/kjp236">Kevin</a>

  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>